@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.charactersSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    box-shadow: 0px 5px 10px -7px #000000;
    
}

.cardContainer img {
    width: 50%;
    height: auto;
    border-right: 2px solid rgb(158, 79, 96);
    border-radius: 1rem 0 0 1rem;
}

.infoAbout {
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash@2x-bd5b31294ea9.png);
    background-repeat: repeat-x;
    padding: 1.2rem;
    background-color: rgb(40, 39, 39);
    line-height: 1.5;
    width: 26vw;
}

.infoAbout p {
    color: rgb(158, 79, 96);
    text-transform: capitalize;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.title {
    margin-top: 1.7rem;
    text-transform: capitalize;
}

.loadButton {
    background: #000;
    color: #FFF;
    width: 10%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 540px) {
    .charactersSection {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 541px) and (max-width:  1200px) {
    .charactersSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        justify-content: center;
    }

    .table {
        padding: 1rem;
    }
}