@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.charactersSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cardContainer {
    margin: 1rem;
    justify-items: center;
}

.cardCharacter {
    background: #504E4D;
    border-radius: 12px;
    padding: 1.5rem;
    width: 18rem;
    height: 95%;
}

.cardCharacter > h1 {
    color: white;
    font-size: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.imageContainer img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    border: 2px solid white;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    background: rgb(40, 39, 39);
    border-radius: 12px;
    height: 60%;
}

.infoContainer p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    color: rgb(158, 79, 96);
    text-transform: capitalize;
}

.title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0rem 1rem 1rem;
    color: #FFF;
}

.text {
    font-size: .7rem;
}

.loadButton {
    background: #000;
    color: #FFF;
    width: 10%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 540px) {
    .charactersSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardContainer {
        margin: .5rem;
    }

    .cardCharacter {
        width: 75%;
    }
}

@media screen and (min-width: 541px) and (max-width:  1200px) {
    .charactersSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        justify-content: center;
    }

    .cardContainer {
        margin: .5rem;
    }

    .cardCharacter {
        width: 75%;
    }

    .table {
        padding: 1rem;
    }
}