@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(21, 21, 21);
}

.header {
    width: 100%;
    background-color: #000;
}

.navbar {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.imageNav {
    display: flex;
    justify-content: space-between;
}

.img {
    height: 100px;
}

.button {
    display: none;
    float: right;
    background: none;
    border: 0;
    color: #EAE135;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
}

.links-container {
    transition: all .3s linear;
    text-align: center;
}

.list {
    display: flex;
    padding: 2rem;
    align-items: baseline;
}

.link {
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    transition: all 0.3s linear;
    font-weight: bold;
    color: #E7E8E9;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #EAE135;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.img-links {
    padding: 1rem;
}

.active {
    color: #EAE135;
}

.container {
    display: flex;
}

.content {
    width: 100%;
}

.card {
    background-color: #DCDCDC;
    box-shadow: 0px 5px 10px -7px #000000;
    border-radius: 1rem;
    margin: 0 1.2rem;
    height: 132px;
}

.card-small {
    width: 240px;
    display: flex;
    align-items: center;
}

.card-large {
    width: 464px;
}

.card .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

.card-photo {
    width: 58px;
}

.card .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.cards-header {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
} 

.card-info h2 {
    font-size: 3.3rem;
    font-weight: bold;
    color: #FFBA33;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-large .card-container .card-content:first-child {
    border-right: 1px solid #111;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin: 2.5rem;
    border-radius: 1rem;
    text-align: left;
    color: #FFF;
}

.table table {
    width: 100%;
    margin-top: 1.2rem;
}

.table thead {
    background: black;
    font-weight: bold;
    color: #FFF;
}

.table tr:nth-child(2n) {
    background: #4A4A4A;
}

.table th, .table td {
    border-bottom: 1px solid #FFF;
    border-right: 1px solid lightgray;
    padding: 0.6rem;
}

.tableImg {
    width: 30%;
    align-self: center;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .6rem;
}

.content-info {
    display: flex;
    align-items: center;
}

footer {
    background-color: gray;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (min-width: 375px) and (max-width: 720px) {

    .button {
        display: block;
    }

    .content {
        width: 72%;
    }

    .card {
        margin: 0 0 1rem 0;
    }

    .cards-header {
        display: inherit;
        margin: 1rem;
        padding: 0;
    }

    .card-large {
        width: 100%;
    }

    .table {
        width: 100%;
        height: auto;
        margin: 2rem;
    }

    .table thead {
        display: none;
    }

    .table tbody td {
        display: flex;
        flex-direction: column;
    }

    .table th, .table td {
        border-right: none;
    }

    .navbar {
        display: block;
    }

    .links-container {
        overflow: hidden;
        height: 0;
    }

    .list {
        display: block;
        float: left;
    }

    .link {
        display: flex;
        align-items: center;
    }

    .img-links {
        width: 20%;
    }
}

@media screen and (min-width: 721px) and (max-width:  1200px) {

    .button {
        display: block;
    }

    .content {
        width: 80%;
    }

    .cards-header {
        width: 100%;
    }

    .navbar {
        display: block;
    }

    .links-container {
        overflow: hidden;
        height: 0;
    }

    .list {
        display: block;
        float: left;
    }

    .link {
        display: flex;
        align-items: center;
    }

    .img-links {
        width: 20%;
    }
}