@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F6FA;
}

.container {
    display: flex;
}

.lateral-menu {
    background: #000;
    color: #FFF;
    width: 250px;
    height: 100vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lists, .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    line-height: 2.5;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-photo{
    margin-right: .6rem;
}

.content {
    width: 100%;
}

.card {
    background-color: #FFF;
    box-shadow: 0px 5px 10px -7px #000000;
    border-radius: 1rem;
    margin: 0 1.2rem;
    height: 132px;
}

.card-small {
    width: 240px;
    display: flex;
    align-items: center;
}

.card-large {
    width: 464px;
}

.card .card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

.card-photo {
    width: 58px;
}

.card .card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.cards-header {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
} 

.card-info h2 {
    font-size: 3.3rem;
    font-weight: bold;
    color: #FFBA33;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-large .card-container .card-content:first-child {
    border-right: 1px solid #111;
}

.table {
    width: 100%;
    padding: 2rem;
    margin: 2.5rem;
    background-color: #FFF;
    box-shadow: 0px 5px 10px -7px #000000;
    border-radius: 1rem;
    text-align: left;
}

.table table {
    width: 100%;
    margin-top: 1.2rem;
}

.table thead {
    background: black;
    font-weight: bold;
    color: #FFF;
}

.table tbody tr:nth-child(2n) {
    background: #ccc;
}

.table th, .table td {
    border-bottom: 1px solid #5E5E5E;
    border-right: 1px solid #111;
    padding: .6rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .6rem;
}

.content-info {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {

    .lateral-menu {
        width: 130px;
        height: 170vh;
    }

    .logo {
        width: 60%;
    }

    .settings {
        flex-direction: column;
    }

    .content {
        width: auto;
    }

    .card {
        margin: 0 0 1rem 0;
    }

    .cards-header {
        display: inherit;
        margin: 1rem;
        padding: 0;
    }

    .card-large {
        width: 100%;
    }

    .table {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .table thead {
        display: none;
    }

    .table tbody td {
        display: flex;
        flex-direction: column;
    }

    .table th, .table td {
        border-right: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .table table {
        width: 85%;
    }
}